--extra-index-url https://download.pytorch.org/whl/cpu

python-dotenv
anthropic
openai
langchain
langchain-text-splitters
langchain-core
langchain-community
langchain-openai
langchain-qdrant
qdrant-client
pypdf
rank-bm25
torch
transformers
tokenizers
scipy
scikit-learn
Pillow
sentence-transformers>=2.2.0
Flask
gunicorn
